.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 10vw;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0.2vw solid black;
    margin: 12px;
    padding: 2vw;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Opcional, ajusta la altura según tus necesidades */
}

/* footer */

.footer {
    background-color: #f2f2f2;
    margin-top: 250px;
    padding: 10px 0;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 16px;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: #333;
    text-decoration: none;
}

.footer p {
    margin-bottom: 8px;
}

.social-icons li {
    display: inline-block;
    margin-right: 8px;
}

.social-icons li a {
    color: #333;
}

.text-center {
    text-align: center;
}